/// <reference path="../../../scss/_theme_vars.scss" />

::ng-deep .cdk-overlay-pane.imagemodal {
	pointer-events: none !important;

	.mat-dialog-container {
		background: none;
		box-shadow: none;

		img {
			pointer-events: initial !important;
		}
	}
}


:host {
	position: relative;
	display: flex;
	max-width: 80vw;
	max-height: 80vh;
	min-height: 80vh;

	img {
		flex: 1 1;
		min-width: 80vw;
		width: calc(100% + 48px);
		margin: -24px;
		-o-object-fit: contain;
		object-fit: contain;
	}
}
