
.filedrop {
	display: flex;
	justify-content: center;
}

button {
	margin-right: 10px;
}

.dropzone {
	flex: 1 1;
	display: flex;
	// padding: 20px;
	border-radius: 10px;
	border: 2px dashed var(--color-text);
	justify-content: center;
	align-items: center;

	&.active {
		border-color: var(--color-primary);
	}
}
