<sectionwrapper-component appMobile #mobile="appMobile">

	<section-component header="Upload files">
		<div class="filedrop">
			<button mat-raised-button (click)="files.click()">
				<mat-icon>cloud_upload</mat-icon> Upload images
			</button>

			<input type="file" hidden (change)="filesChanged()" #files multiple="multiple" accept="image/*">

			<div *ngIf="!(mobile.isMobile | async)" #dropzone class="dropzone" (dragenter)="dragEnter($event)"
				(dragleave)="dragLeave($event)" (drop)="drop($event)" (dragover)="dragOver($event)">
				Drop files here
			</div>
		</div>
	</section-component>

	<section-component header="fdsfsd">

	</section-component>
</sectionwrapper-component>