/// <reference path="../../../scss/_theme_vars.scss" />

.search {
	margin: 10px 0;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a,
h2 {
	padding: 0 24px;
}

a {
	display: block;
	text-align: start;
	border-radius: 0;

	&.active {
		background: var(--color-active);
	}

	&.subItem {
		padding-left: 48px;
		box-sizing: border-box;
	
		::ng-deep .mat-ripple {
			margin-left: -48px;
		}
	}
}

h2 {
	font-weight: bold;
	font-size: 1.1em;
}

.folder {
	margin-top: 1em;
}
