/// <reference path="../../../scss/_theme_vars.scss" />

.search {
	margin: 10px 0;
}

a[mat-list-item].active {
	background: var(--color-active);
}

.subItem {
	padding-left: 14px;

	::ng-deep .mat-ripple {
		margin-left: -14px;
	}
}

mat-nav-list h2.mat-subheader {
	font-weight: bold;
}

mat-divider {
	margin-top: 1em;
}