<header class="topHeader" appMobile #mobile="appMobile">

	<!-- Mobile navigation toggler -->
	<div class="flex" *ngIf="mobile.isMobile | async">
		<button mat-icon-button (click)="toggleLeft()"
				class="navToggle" aria-label="Toggle navigation">
			<mat-icon>menu</mat-icon>
		</button>
	</div>

	<!-- Title -->
	<div class="flex" [ngClass]="{ 'center': (mobile.isMobile | async) }">
		<a routerLink="/" class="title"><mat-icon svgIcon="logo" ngClass="logo"></mat-icon>otingane</a>
	</div>

	<!-- Search box -->
	<div class="flex center" *ngIf="!(mobile.isMobile | async)">
		<search-component class="search"></search-component>
	</div>

	<!-- Right side logic -->
	<!-- IF you are logged in -->
	<ng-container *ngIf="authService.user | async as user; else headerlogin">
		<div class="flex right" [ngSwitch]="(mobile.isMobile | async)">
			<!-- For MOBILE -->
			<button mat-icon-button *ngSwitchCase="true" (click)="toggleRight()"
					class="userToggle mobile" aria-label="Toggle user panel">
				<mat-icon [color]="(authService.user | async) ? 'primary' : ''">person</mat-icon>
			</button>
			<!-- For DESKTOP -->
			<button mat-button *ngSwitchCase="false" [matMenuTriggerFor]="userPanel"
					class="userToggle" aria-label="Show user menu">
				<mat-icon color="primary">person</mat-icon> {{ user.username }}
			</button>
			<!-- Menu for DESKTOP -->
			<mat-menu #userPanel="matMenu" xPosition="before" yPosition="below" overlapTrigger="false">
				<control-panel-component layout="menu"></control-panel-component>
			</mat-menu>
		</div>
	</ng-container>

	<!-- If you are NOT logged in -->
	<ng-template #headerlogin>
		<div class="flex right" [ngSwitch]="(mobile.isMobile | async)">
			<!-- For MOBILE -->
			<button mat-icon-button *ngSwitchCase="true" routerLinkActive="active" class="userToggle mobile" aria-label="Go to login" (click)="modalService.openLoginModal()">
				<mat-icon>person</mat-icon>
			</button>
			<!-- For DESKTOP -->
			<button mat-button *ngSwitchCase="false" routerLinkActive="active" class="userToggle" aria-label="Go to login" (click)="modalService.openLoginModal()">
				<mat-icon>person</mat-icon> <ng-container *ngIf="!(mobile.isMobile | async)">Login</ng-container>
			</button>
		</div>
	</ng-template>
</header>
