<h1>Compose</h1>
<div class="compose" [ngClass]="{ mobile: (mobileService.isMobile() | async) }">
	<form [formGroup]="contentForm" (ngSubmit)="submitForm()" id="contentForm">

		<mat-tab-group class="demo-tab-group" [(selectedIndex)]="tabIndex">
			<mat-tab label="Page Settings">
				<sectionwrapper-component>
					<section-component header="Page Details">
						<!-- TITLE -->
						<div class="field">
							<mat-form-field appearance="outline">
								<mat-label>Title</mat-label>
								<input matInput id="title" #title formControlName="title" type="text"
									   [errorStateMatcher]="formErrorInstant" autocomplete="off" required [maxlength]="maxShortInputLength">
								<mat-error *ngIf="contentForm.get('title').hasError('required')">
									Title is <strong>required</strong>
								</mat-error>
								<mat-error *ngIf="contentForm.get('title').hasError('alreadyExists')">
									Title already exists!
								</mat-error>
								<mat-hint align="end">{{title.value.length}} / {{maxShortInputLength}}</mat-hint>
							</mat-form-field>
						</div>

						<!-- ROUTE -->
						<div class="field">
							<mat-form-field appearance="outline">
								<mat-label>Route</mat-label>
								<input matInput id="route" #route formControlName="route" type="text"
									   [errorStateMatcher]="formErrorInstant" autocomplete="off" required [maxlength]="maxShortInputLength">
								<mat-error *ngIf="contentForm.get('route').hasError('required')">
									Route is <strong>required</strong>
								</mat-error>
								<mat-error *ngIf="contentForm.get('route').hasError('alreadyExists')">
									Route already exists!
								</mat-error>
								<mat-hint align="end">{{route.value.length}} / {{maxShortInputLength}}</mat-hint>
							</mat-form-field>
						</div>

						<!-- PUBLISHED -->
						<div class="field">
							<mat-checkbox formControlName="published" class="full" labelPosition="before">
								Published
							</mat-checkbox>
						</div>
					</section-component>

					<section-component header="Accessibility" class="formControls">

						<!-- ACCESS -->
						<div class="field">
							<mat-form-field appearance="outline">
								<mat-label>Access</mat-label>
								
								<mat-select id="access" #access="matSelect" formControlName="access" required>
									<mat-select-trigger>
										<mat-icon>{{accessHandler.getAccessChoice(contentForm.get('access').value).icon}}</mat-icon>{{ accessHandler.getAccessChoice(contentForm.get('access').value).plural }}
									</mat-select-trigger>
									<mat-option *ngFor="let option of accessHandler.accessChoices" [value]="option.value">
										<mat-icon matPrefix>{{ option.icon }}</mat-icon>{{ option.plural }}
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>

						<!-- FOLDER -->
						<div class="field">
							<mat-form-field appearance="outline">
								<mat-label>Folder</mat-label>
								<input matInput id="folder" #folder formControlName="folder" type="text"
									   autocomplete="off" [matAutocomplete]="folderAuto" [maxlength]="maxShortInputLength">
								<mat-hint align="end">{{folder.value.length}} / {{maxShortInputLength}}</mat-hint>

								<mat-autocomplete #folderAuto="matAutocomplete">
									<mat-option *ngFor="let folder of filteredFolders | async" [value]="folder">
										{{ folder }}
									</mat-option>
								</mat-autocomplete>
							</mat-form-field>
						</div>

						<!-- NAV -->
						<div class="field">
							<mat-checkbox formControlName="nav" (change)="setFormDisabledState()" class="full" labelPosition="before">
								Show in navigation
							</mat-checkbox>
						</div>
					</section-component>
					<section-component header="Search Engine Optimization">
						<!-- DESCRIPTION -->
						<div class="field wide">
							<mat-form-field appearance="outline">
								<mat-label>Description</mat-label>
								<textarea matInput id="desc" #desc formControlName="description" type="text"
										  autocomplete="off" required [maxlength]="maxLongInputLength" matTextareaAutosize></textarea>
								<mat-error *ngIf="contentForm.get('description').hasError('required')">
									Description is <strong>required</strong>
								</mat-error>
								<mat-hint align="end">{{desc.value.length}} / {{maxLongInputLength}}</mat-hint>
							</mat-form-field>
						</div>
					</section-component>
				</sectionwrapper-component>
			</mat-tab>

			<mat-tab label="Content">
				<!-- CONTENT -->
				<ng-template matTabContent>
					<ckeditor class="editor" id="content" [editor]="ClassicEditor" formControlName="content"></ckeditor>
				</ng-template>
			</mat-tab>


			<mat-tab label="Preview" #previewTab>
				<ng-template matTabContent>
					<content-component previewMode="true" [contentInput]="contentForm.getRawValue()"></content-component>
				</ng-template>
			</mat-tab>

		</mat-tab-group>

	</form>

	<div class="actions">
		<div class="group">
			<!-- VERSION -->
			<mat-form-field appearance="outline">
				<mat-select id="access" [disabled]="!history" [(value)]="versionIndex" (selectionChange)="versionChange($event)">
					<ng-container *ngIf="(!!history && history.length > 0); else noHistoryAvailable">
						<mat-option [value]="VersionHistory.Draft">
							{{getHistoryItemFormatted(history[0].version + 2, 'Current draft')}}
						</mat-option>
						<mat-option *ngFor="let contentObj of history; let i = index" [value]="i">
							{{getHistoryItemFormatted(contentObj.version + 1, contentObj.updatedAt | date)}}
						</mat-option>
					</ng-container>
					<ng-template #noHistoryAvailable>
						<mat-option [value]="VersionHistory.Draft">
							{{getHistoryItemFormatted(1, 'Draft')}}
						</mat-option>
					</ng-template>
				</mat-select>
			</mat-form-field>

			<button mat-raised-button ngClass="offset" *ngIf="versionIndex >= 0" (click)="restoreOldVersion()">
				Restore
			</button>
		</div>


		<div class="group">
			<button mat-raised-button form="contentForm" class="submit" type="submit" [disabled]="!contentForm.valid" color="primary">
				{{ originalContent ? 'Update page' : 'Create page' }}
			</button>
		</div>
	</div>
</div>
