<h1>Compose</h1>
<div class="compose" appMobile>
	<form [formGroup]="ContentForm" (ngSubmit)="submitForm()" id="ContentForm">

		<mat-tab-group [(selectedIndex)]="tabIndex">
			<mat-tab label="Page Settings">
				<sectionwrapper-component>
					<section-component header="Page Details">
						<!-- TITLE -->
						<div class="field">
							<mat-form-field appearance="outline">
								<mat-label>Title</mat-label>
								<input matInput id="title" #title formControlName="title" type="text"
									[errorStateMatcher]="formErrorInstant" autocomplete="off" required>
								<mat-error *ngIf="ContentForm.get('title').hasError('required')">
									Title is <strong>required</strong>
								</mat-error>
								<mat-error *ngIf="ContentForm.get('title').hasError('alreadyExists')">
									Title already exists!
								</mat-error>
								<mat-hint align="end">{{title.value.length}} / {{CONTENT_MAX_LENGTH.TITLE}}</mat-hint>
							</mat-form-field>
						</div>

						<!-- ROUTE -->
						<div class="field">
							<mat-form-field appearance="outline">
								<mat-label>Route</mat-label>
								<input matInput id="route" #route formControlName="route" type="text"
									[errorStateMatcher]="formErrorInstant" autocomplete="off" required>
								<mat-error *ngIf="ContentForm.get('route').hasError('required')">
									Route is <strong>required</strong>
								</mat-error>
								<mat-error *ngIf="ContentForm.get('route').hasError('alreadyExists')">
									Route already exists!
								</mat-error>
								<mat-hint align="end">{{route.value.length}} / {{CONTENT_MAX_LENGTH.ROUTE}}</mat-hint>
							</mat-form-field>
						</div>

						<!-- PUBLISHED -->
						<div class="field">
							<mat-checkbox formControlName="published" class="full" labelPosition="before">
								Published
							</mat-checkbox>
						</div>
					</section-component>

					<section-component header="Accessibility" class="formControls">

						<!-- ACCESS -->
						<div class="field">
							<mat-form-field appearance="outline">
								<mat-label>Limit Access</mat-label>
								<mat-select id="access" #access="matSelect" formControlName="access" multiple>
									<mat-select-trigger>
										<ng-container
											*ngFor="let selected of ContentForm.get('access').value; last as last">
											<mat-icon>{{accessHandler.getAccessChoice(selected).icon}}</mat-icon>
											{{ accessHandler.getAccessChoice(selected).plural }}<span *ngIf="!last">,
											</span>
										</ng-container>
									</mat-select-trigger>
									<ng-container *ngFor="let option of accessHandler.accessChoices">
										<mat-option *ngIf="option.value" [value]="option.value">
											<mat-icon matPrefix>{{ option.icon }}</mat-icon>{{ option.plural }}
										</mat-option>
									</ng-container>
								</mat-select>
							</mat-form-field>
						</div>

						<!-- FOLDER -->
						<div class="field">
							<mat-form-field appearance="outline">
								<mat-label>Folder</mat-label>
								<input matInput id="folder" #folder formControlName="folder" type="text"
									autocomplete="off" [matAutocomplete]="folderAuto">
								<mat-hint align="end">{{folder.value.length}} / {{CONTENT_MAX_LENGTH.FOLDER}}</mat-hint>

								<mat-autocomplete #folderAuto="matAutocomplete">
									<mat-option *ngFor="let folder of FilteredFolderList | async" [value]="folder">
										{{ folder }}
									</mat-option>
								</mat-autocomplete>
							</mat-form-field>
						</div>

						<!-- NAV -->
						<div class="field">
							<mat-checkbox id="nav" formControlName="nav" class="full" labelPosition="before">
								Show in navigation
							</mat-checkbox>
						</div>
					</section-component>
					<section-component header="Search Engine Optimization">
						<!-- DESCRIPTION -->
						<div class="field">
							<mat-form-field appearance="outline">
								<mat-label>Description</mat-label>
								<textarea matInput id="desc" #desc formControlName="description" type="text"
									autocomplete="off" required></textarea> <!-- matTextareaAutosize -->
								<mat-error *ngIf="ContentForm.get('description').hasError('required')">
									Description is <strong>required</strong>
								</mat-error>
								<mat-hint align="end">{{desc.value.length}} / {{CONTENT_MAX_LENGTH.DESC}}</mat-hint>
							</mat-form-field>
						</div>
					</section-component>
				</sectionwrapper-component>
			</mat-tab>

			<mat-tab label="Content">
				<!-- CONTENT -->
				<ng-template matTabContent>
					<ckeditor-component [form]="ContentForm" (Editor)="Editor = $event"></ckeditor-component>
				</ng-template>
			</mat-tab>
		</mat-tab-group>
	</form>

	<div class="actions">
		<div class="group">
			<!-- HISTORY -->
			<mat-form-field appearance="outline">
				<mat-select id="history" [disabled]="!HistoryHandler.HistoryList"
					(selectionChange)="onSetStateAsHistroyFromVersion($event)"
					[(value)]="HistoryHandler.HistoryVersionIndex">

					<!-- Drafting option -->
					<mat-option [value]="HistoryHandler.VersionHistory.Draft">
						{{HistoryHandler.getHistoryItemFormatted(HistoryHandler.VersionHistory.Draft)}}
					</mat-option>

					<!-- History options, if they exist -->
					<ng-container *ngIf="HistoryHandler.hasHistory">
						<mat-option *ngFor="let contentObj of HistoryHandler.HistoryList; let i = index" [value]="i">
							{{HistoryHandler.getHistoryItemFormatted(i)}}
						</mat-option>
					</ng-container>
				</mat-select>
			</mat-form-field>

			<button mat-raised-button id="restore" ngClass="offset" *ngIf="!HistoryHandler.isDrafting"
				(click)="onSetSateFromHistoryAsCurrentDraft()">
				Restore
			</button>
		</div>


		<div class="group">
			<button mat-raised-button form="ContentForm" class="submit" type="submit" [disabled]="!ContentForm.valid"
				color="primary">
				{{ OriginalRoute ? 'Update page' : 'Create page' }}
			</button>
		</div>
	</div>
</div>