/// <reference path="_theme_vars.scss" />

$lazy-transition: ease-in-out opacity 0.3s;
$figure-margin: 0.8em;

#content {
	a, p {
		word-wrap: break-word; // legacy name of overflow-wrap
		overflow-wrap: break-word;
	}

	h1, h2, h3, h4, h5, h6 {
		clear: both;
	}

	a {
		text-decoration: underline;

		&:hover, &:active {
			text-decoration: underline;
			color: var(--color-primary);
		}
	}

	blockquote {
		border-left: none;
		padding: 0.9em 0 0 3em;
		margin: 0 0 20px;
		position: relative;
		font-style: italic;

		p, h1, h2, h3, h4, h5, h6 {
			margin: 0;
		}

		&:before {
			content: "\201C"; // left doublequote
			font-family: Georgia, serif;
			font-size: 5em;
			font-weight: bold;
			color: var(--color-primary);
			position: absolute;
			left: 0;
			top: -0.2em;
		}

		&::after {
			content: attr(cite);
			font-size: 0.75em;
		}
	}

	ul, ol {
		padding-left: 2em;

		li {
			padding: 0.3em 0;
		}
	}

	figure {
		margin: 0 0 1em 0;
		box-sizing: border-box;
		display: block;
		box-shadow: var(--shadow);
	}

	figure.image {
		text-align: center;
		position: relative;

		border: var(--border);
		background: var(--color-sidepanel);

		// Lazy-load pre-sizing to fill space.
		&.lazy {
			img {
				opacity: 0;
				height: 0;
			}
		}

		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 100;
			box-shadow: var(--shadow) inset;
			pointer-events: none;
		}

		.click {
			cursor: pointer;
		}

		img {
			transition: $lazy-transition;
			display: block;
			margin: 0;
			width: 100%;
			max-width: 100%;
		}

		figcaption {
			display: block;
			padding: 0.75em;
			font-size: .75em;
			background: var(--color-material) !important;
			box-shadow: var(--shadow) inset;
			color: var(--color-text);
		}

		&.image-style-align-left,
		&.image-style-align-right {
			max-width: calc(50% - #{$figure-margin}); // negate the padding
			width: calc(50% - #{$figure-margin});
			margin-top: 0;
		}
		
		&.image-style-align-left {
			margin-right: $figure-margin;
			float: left;
			clear: left;
		}

		&.image-style-align-right {
			margin-left: $figure-margin;
			float: right;
			clear: right;
		}
	}

	figure.media {
		width: calc(50% - #{$figure-margin});
		margin: 0 $figure-margin 1em 0;
		position: relative;
		float: left;
		vertical-align: top;
		transition: $lazy-transition;

		&.lazy {
			opacity: 0;
		}

		&.wide {
			margin: 0;
			width: 100%;
			clear: both;
		}

		iframe {
			position: absolute;
			top: 0;
			right: 0;
			width: 100%;
			height: 100%;
			transition: $lazy-transition;

			&.iframelazy {
				opacity: 0;
			}
		}

		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}

	figure.table {
		table {
			border-collapse: collapse;
			border: none;
			background: var(--color-shade);
			
			table-layout: fixed;
			width: 100%;
			white-space: nowrap;
			
			th, td {
				border: var(--border);
				background: none;
				padding: 0.5em;

				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
}


// Mobile styling
.site.mobile {
	#content {
		figure.image {
			&.image-style-align-right,
			&.image-style-align-left {
				float: none;
				display: block;
				max-width: none;
				width: auto;
				margin-left: 0;
				margin-right: 0;
			}
		}

		figure.media {
			float: none;
			width: 100%;
		}
	}
}
