<h2 mat-dialog-title align="center">{{data.user.username}}</h2>
<div mat-dialog-content align="start" class="wrapper">
	<form [formGroup]="patchUserForm" id="patchUserForm" autocomplete="off" (ngSubmit)="submitForm()">
		<!-- USERNAME -->
		<div class="row">
			<mat-form-field appearance="outline">
				<mat-label>Username</mat-label>

				<input matInput id="username" #username type="text" formControlName="username">
				<mat-error *ngIf="patchUserForm.get('username').hasError('required')">
					Username is <strong>required</strong>
				</mat-error>
				<mat-error *ngIf="patchUserForm.get('username').hasError('usernameTaken')">
					Username is taken
				</mat-error>
			</mat-form-field>
		</div>

		<!-- ROLES -->
		<div class="row">
			<mat-form-field appearance="outline">
				<mat-label>Roles</mat-label>
				<mat-select formControlName="roles" multiple>
					<mat-select-trigger>
						<ng-container *ngFor="let selected of patchUserForm.get('roles').value; last as last">
							<mat-icon>{{accessHandler.getAccessChoice(selected).icon}}</mat-icon> {{ accessHandler.getAccessChoice(selected).single }}<span *ngIf="!last">, </span>
						</ng-container>
					</mat-select-trigger>
					<ng-container *ngFor="let option of accessHandler.accessChoices">
						<mat-option *ngIf="option.value" [value]="option.value">
							<mat-icon matPrefix>{{ option.icon }}</mat-icon>{{ option.single }}
						</mat-option>
					</ng-container>
				</mat-select>
			</mat-form-field>
		</div>
	</form>
	<p>
		{{ issue | async }}
	</p>
</div>
<div mat-dialog-actions align="center">
	<button mat-button (click)="close()">Cancel</button>
	<button mat-raised-button type="submit" form="patchUserForm"
			[disabled]="(!patchUserForm.valid || !patchUserForm.dirty)">Save</button>
</div>
